@using PagedList.Mvc
@model PagedList.IPagedList<University.BL.DTOs.InstructorDTOs>



@{ ViewBag.Title = "Index"; }
<br />
<h2>Bienvenido a instructores</h2>
<br />



<p>
    @Html.ActionLink("Create New", "Create", "Instructor", new { @class = "btn btn-sm btn-primary" })
</p>
<br />
<table class="table table-bordered">
    <tr>
    <tr>
        <th>FullName</th>
        <th>HireDate</th>
        <th>Options</th>
    </tr>



    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HireDate)
    </td>



    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
        @Html.ActionLink("Department", "Index", "Instructor", new { InstructorId = item.ID }, new { @class = "btn btn-sm btn-primary" })
    </td>
</tr>}



</table>



<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<br />



Total Item Count @Model.TotalItemCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Instructor", new { page, pageSize = ViewBag.PageSize }))




@if (ViewBag.Department != null)
{
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID Department</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (List<University.BL.DTOs.DeparmentDTO>)ViewBag.Department)
        {
<tr>
    <td>@item.DepartmentID</td>
    <td>@item.Name</td>
</tr>}
    </tbody>
</table>}